body{
    background-color:rgba(0,0,0,0.9);
    color:rgba(255,255,255);
}
h1{
    font-weight: normal;
    text-align: center;

}
.box{
    width:100px;
    height:100px;
    margin-bottom:14px;
}
strong{
    color:#ff0000;
}
.bluebox{
    background-color: #0000ff;
    position: fixed;
    top:150px;
    left:200px;
}
.greenbox{
    background-color: #008000;
}
.content2{
    width:100%;
    height:auto;
    background : rgba(100,40,70,0.5);
   
    bottom: 40px;

}

.pinkbox{
    background-color: hsl(332, 100%, 50%);
    position: absolute;
    bottom:100px;
    right:20px;
}
.redbox{
    background-color: hsl(0, 100%, 25%);
}